<div class="card-header">

  <!-- <table class="table " id="" [@menuItemAppeared]="menuItemState">
    <thead class="text-primary"></thead>
    <tbody>
      <tr>
        <td style="width: 10%">
          <span class="">
            <img
              [@rubberBand]="rubber"
              (click)="rubber = !rubber"
              class="widthImage"
              src="{{ menuItem.imagePath }}"
            />
          </span>
        </td>
        <td>
          <span class="">{{ menuItem.name }}</span>
        </td>
        <td>{{ menuItem.description }}</td>
        <td>{{ menuItem.price | currency: "BRL":true }}</td>
        <td class="text-center">
          <a (click)="emitAddEvent()" class=""
            ><i class="fa fa-plus-circle"></i> Adicionar</a
          >
        </td>
      </tr>
    </tbody>
  </table> -->
  <!-- <div class="cards">
    <div class="card card-6">
      <div class="row card__icon">
        <img class="widthImage" src="{{ menuItem.imagePath }}" />
        &nbsp;
        <h3 class="d-flex align-items-center">{{ menuItem.name }}</h3>
      </div>
      &nbsp;
      <h4 class="card__title">{{ menuItem.description }}</h4>
      <h4 class="card__title">{{ menuItem.price | currency: "BRL":true }}</h4>
      <span class="card__apply mt-2 ">
        <a (click)="emitAddEvent()" class=""
          ><i class="fa fa-plus-circle"></i> Adicionar</a
        >
      </span>
    </div>
  </div> -->
<!-- </div> -->
<!-- <div class=" col-md-12">
  <div class=" card card-plain">
    <div class=" card-body">
      <div class=" table-responsive">
        <table class=" table tablesorter" id="">
          <thead class=" text-primary">

          </thead>
          <tbody>
            <tr>
              <td>Dakota Rice</td>
              <td>Niger</td>
              <td>Oud-Turnhout</td>
              <td class=" text-center">$36,738</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div> -->

