<div class="row">
  <div class="col-sm-8">
    <div class="card card-chart">
      <div class="card-header">
        <h4 class="card-title">Market Place itens</h4>
        <p class="category">Buy offers</p>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <app-market-item
            *ngFor="let item of menuItems | async"
            [menuItem]="item"
            (add)="shoppingCart.addItem($event)"
          ></app-market-item>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4"><app-shopping-cart #shoppingCart></app-shopping-cart></div>
</div>
