<table class="table table-striped"  *ngIf="items &&  items.length !== 0">
  <thead>
    <tr>
      <th *ngFor="let colun of coluns" class="text-center">{{ colun }}</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td class="text-center">
        <a (click)="emitDecreaseQty(item)" class="text-info"><i class="fa fa-minus"></i></a>
        &nbsp;
        {{ item.quantity }}
        &nbsp;
        <a (click)="emitIncreaseQty(item)" class="text-info"><i class="fa fa-plus"></i></a>
      </td>
      <td>{{ item.menuItem.name }}</td>

      <td>{{ item.menuItem.description }}</td>
      <td class="text-right">{{ item.value() | currency: 'BRL': true }}</td>
      <td class="text-right">
        <a (click)="emitRemove(item)"class="text-danger"
          ><i class="fa fa-remove"></i
        ></a>
      </td>
    </tr>
  </tbody>
</table>

<div class="col-xs-12" *ngIf="!items || items.length === 0">
  <p>
    Nao ha itens no seu carrinho. Que ral começar por <a [routerLink]="['/resutarants']">aqui?</a>
  </p>
</div>
